<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>LocalNews</title>
  <meta name="description" content="LocalNews | Straight from the source" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" title="style" />
</head>

<body>
  <div class="main">
    <div class="header">
      <div class="logo">
        <div class="logo-text">
          <h1><a href="/">Local<span class="logo-colour">News</span></a></h1>
          <h2>Straight from the source.</h2>
        </div>
      </div>
      <div class="menubar">
        <ul class="menu">
          <!-- navigation -->
          <li class="selected"><a href="/">Home</a></li>
          {{#each categories}}
          <li><a href="/news/{{this.dataValues.title}}">{{this.dataValues.title}}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="topright">
        {{#if logged_out}}
        <a href="/users/login" class="topright-item">Login</a>
        <a href="/users/register" class="topright-item">Register</a>
        {{else}}
        {{#if admin_user }}
        <a href="/admin/news" class="topright-item">Admin Dashboard</a>
        {{else}}
        <a href="/users/dashboard" class="topright-item">Your Dashboard</a>
        {{/if}}
        <a href="/users/logout" class="topright-item">Logout</a>
        {{/if}}
      </div>
    </div>
    <div class="site-content">
      <div class="sidebar">
        <!-- sidebar items -->
        <h3>Search</h3>
        <form method="post" action="/search">
          <p>
            <input class="search" type="text" name="query" placeholder="Search LocalNews" />
            <input class="search-logo" name="search" type="image" src="/css/search.png" alt="" title="Search" />
          </p>
        </form>
        <h3>Top Stories</h3>
        <ul>
          {{#each pinned_articles}}
          <li class="pin-display">
            <div class="pin-style">
              <img class="pin-image" src="/article_images/{{this.dataValues.image}}">
            </div>
            <div>
              <p>{{this.dataValues.title}}</p>
              <a href="/news/article/{{this.dataValues.id}}">Read this story here</a>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="content">
        <!-- page content -->
        {{{body}}}
      </div>
    </div>
    <div class="footer">
      Copyright &copy; 2018 LocalNews
    </div>
  </div>
</body>

</html>
