<!DOCTYPE HTML>
<html>

<head>
  <title>Local News</title>
  <meta name="description" content="site description" />
  <meta name="keywords" content="site keywords, site keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- change text color -->
          <h1><a href="/">Local<span class="logo_colour">News</span></a></h1>
          <h2>Straight from the source.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- navigation -->
          <li class="selected"><a href="/">Home</a></li>
          {{#each categories}}
          <li><a href="/news/category/{{this.dataValues.title}}">{{this.dataValues.title}}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="topright">
        {{#if logout}}
        <a href="/users/login" id="topright">Login</a>
        <a href="/users/register" id="topright">Register</a>
        {{else}}
        <a href="/logout" id="topright">Logout</a>
        {{/if}}
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- sidebar items -->
        <h3>Search</h3>
        <form method="post" action="/search" id="search_form">
          <p>
            <input class="search" type="text" name="query" onfocus="this.value=''" value="Enter keywords..." />
            <input class="search_logo" name="search" type="image" src="/css/search.png" alt="Search" title="Search" />
          </p>
        </form>
        <h3>Top Stories</h3>
        <ul>
          {{#each pinned_articles}}
          <li class="pin_display">
            <div class="pin_style">
              <img id="pin_image" src="/article_images/{{this.dataValues.image}}">
            </div>
            <div>
              <p>{{this.dataValues.title}}</p>
              <a href="/news/single/{{this.dataValues.id}}">Read this story here</a>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      <div id="content">
        <!-- page content -->
        {{{body}}}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; Local News | <a href="contact.html">Contact Us</a>
    </div>
  </div>
</body>

</html>
