<div id="content">
    <!-- page content -->
    <table>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Title</th>
            <th>Approved</th>
            <th>Approve</th>
        </tr>
        {{#each articles}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.category}}</td>
            <td><a href="">{{this.title}}</a></td>
            <td>{{this.approved}}</td>
            <td>
                {{#if this.approved}}
                <form method="post" action="/admin/disapprove">
                    <input type="hidden" name="article_id" value="{{ this.id }}" />
                    <input class="submit" type="submit" value="Disapprove" />  
                </form>
                {{else }}
                <form method="post" action="/admin/approve">
                    <input type="hidden" name="article_id" value="{{ this.id }}" />
                    <input class="submit" type="submit" value="Approve" />  
                </form>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>