<h2>{{newsArticle.title}}</h2>
<p>By: <b>{{author}}</b></p>
<p>
  {{publishedDate}}
  {{#if logged_in }}
  <form method="post" action="/news/article/{{newsArticle.id}}/submit-rating">
    <ul class="form">
      <li class="rating">
        <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
        <input type="radio" name="rating" value="1" /><span></span>
        <input type="radio" name="rating" value="2" /><span></span>
        <input type="radio" name="rating" value="3" /><span></span>
        <input type="radio" name="rating" value="4" /><span></span>
        <input type="radio" name="rating" value="5" /><span></span>
      </li>
    </ul>
    <input type="submit" value="Submit rating" />
  </form>
  {{/if}}
</p>
<img class="article-image" src="/article_images/{{newsArticle.image}}" alt="Article Image" width="500" height="400">
<br />
<br />
{{{body}}}
